<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-info bg-light"
		th:fragment="Layout">
		<a class="navbar-brand" href="#">IMOB MALV</a>
		
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarPrincipal">
			<span class="navbar-toggler-icon"><i class="fas fa-home"></i></span>		
		</button>

		<div class="collapse navbar-collapse" id="navbarPrincipal">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" th:href="@{/imoveis/home}">Home</a>
				</li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"> Imóvel </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item text-info" href="#" th:href="@{/imoveis/pesquisa}">Ver Imóveis</a> <a
							class="dropdown-item text-info" href="#" th:href="@{/imoveis/novo}">Anunciar Novo</a>
					</div></li>
					<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"> Categoria </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item text-info" href="#" th:href="@{/categorias/pesquisa}">Ver Categorias</a> <a
							class="dropdown-item text-info" href="#" th:href="@{/categorias/novo}">Cadastrar Novo</a>
					</div></li>
					<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"> Negócio </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item text-info" href="#" th:href="@{/negocios/pesquisa}">Ver Negócios</a> <a
							class="dropdown-item text-info" href="#" th:href="@{/negocios/novo}">Cadastrar Novo</a>
					</div></li>
					<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"> Estado </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item text-info" href="#" th:href="@{/estados/pesquisa}">Ver Estados</a> <a
							class="dropdown-item text-info" href="#" th:href="@{/estados/novo}">Cadastrar Novo</a>
					</div></li>
					<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"> Município </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item text-info" href="#" th:href="@{/municipios/pesquisa}">Ver Municípios</a> <a
							class="dropdown-item text-info" href="#" th:href="@{/municipios/novo}">Cadastrar Novo</a>
					</div></li>
					<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"> Bairro </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item text-info" href="#" th:href="@{/bairros/pesquisa}">Ver Bairros</a> <a
							class="dropdown-item text-info" href="#" th:href="@{/bairros/novo}">Cadastrar Novo</a>
					</div></li>
					<li class="nav-item">
						<a href="#" class="btn btn-outline-primary">Área do Proprietário</a>
					</li>
					 &nbsp;
					<li class="nav-item">
						<a href="#" class="btn btn-outline-primary">Encontrar um Imóvel</a>
					</li>
			</ul>
		</div>
	</nav>
</body>
</html>